//variables/

//colors/
$primaryColor01:#FCF2FF;
$primaryColor02:#F5CCFF;
$primaryColor03:#EEA6FF;
$primaryColor04:#DA79F1;
$primaryColor05:#B255C9;
$primaryColor06:#8B37A0;
$primaryColor07:#661F77;
$primaryColor08:#420E4E;

$secondaryColor01:#FFECF3;
$secondaryColor02:#FFB5CF;
$secondaryColor03:#FF7DAB;
$secondaryColor04:#F34281;
$secondaryColor05:#CA2B64;
$secondaryColor06:#A11949;
$secondaryColor07:#790B32;
$secondaryColor08:#50031E;

$bw01:#000000;
$bw02:#ffffff;

$neutral01:#EEEEEE;
$neutral02:#CCCCCC;
$neutral03:#AAAAAA;
$neutral04:#888888;
$neutral05:#666666;
$neutral06:#444444;

//sizes/
$w-100:100%;
$w-75:75%;
$w-50:50%;
$w-25:25%;

